body {
    background-color: azure;
}

    h1 {
        color: darkcyan;
        font-size: 45px;
    }
    strong {
        color: darkcyan;
        font-size: 30px
    }

        a {
            text-decoration: none;
            color: black;
        }
        a:hover {
            color: darkcyan;
        }